<style type="text/css">
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #4BBAD3;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
</style>

<body bgcolor="1978D1">
<font color="black">
<h1>  
  Bienvenidos a JAR GAMES
</h1>
<p style="color:white;"><em>
  Una nueva forma de vivir la realidad en un juego!!!!
  <br>
  Solicita tu juego ahora mismo, completando el formulario:
</em></p>
</font>

<br><br>
<table align=center border=3>
  <tbody bgcolor="lightblue">
<tr>
  <td>
      <b>Juego:</b>
  </td>
  <td> <input ></td>
</tr>
<tr>
  <td>
    <b>Tipo:</b>
  </td>
  <td>
          <select>
        <option>Seleccione:</option>
        <option>Misiones</option>
        <option>Puzzle</option>
        <option>Carros</option>
        <option>Deportes</option>
          </select>
  </td>
</tr>
<tr>
  <td>
      <b>Consola:</b>
  </td>
  <td>    
          <select>
        <option>Seleccione:</option>
        <option>Android</option>
        <option>Windows</option>
        <option>Xbox</option>
        <option>Play 4</option>
        <option>Nintendo</option>
          </select>
</tr>
<tr>
  <td>
      <b>Cantidad:</b>
  </td>
  <td> <input ></td>
</tr>
  </tbody>
</table>
<br><br>
<table align=center>
<a href="app.second.html" class="boton_personalizado">Cotizar</a>
</table>

</body>